.update {
    color: blue
}

.delete {
    color: red
}

.update:hover {
    cursor: pointer;
    border-bottom: 1px solid blue;
}

.delete:hover {
    cursor: pointer;
    border-bottom: 1px solid red;

}